infra/k8s/n8n/workflows/workflow.json
{
  "name": "SKKUDING GitHub/Notion",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "skkuding",
          "mode": "list",
          "cachedResultName": "skkuding",
          "cachedResultUrl": "https://github.com/skkuding"
        },
        "repository": {
          "__rl": true,
          "value": "codedang",
          "mode": "list",
          "cachedResultName": "codedang",
          "cachedResultUrl": "https://github.com/skkuding/codedang"
        },
        "events": ["pull_request"],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [40, 280],
      "id": "4512f71b-3f48-41ed-b5d0-fa8d0812c805",
      "name": "When PR Update",
      "webhookId": "1572f509-116e-4eed-994b-4f5906903be3",
      "credentials": {
        "githubOAuth2Api": {
          "name": "SKKUDING GitHub"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pr = $input.first().json.body.pull_request;\nconst body = pr.body || \"\";\nconst state = pr.state;\nconst isDraft = pr.draft;\nconst merged = pr.merged || false;\n\nlet status;\nif (state === \"closed\" && merged) {\n  status = \"완료\";\n} else if (isDraft) {\n  status = \"진행 중\";\n} else {\n  status = \"리뷰 중\";\n}\n\nconst regex = /\\b(?:close|closes|closed|fix|fixes|fixed|resolve|resolves|resolved)\\b[^a-zA-Z0-9]*(TAS-\\d+(?:\\s*,\\s*TAS-\\d+)*)/gi;\nconst matches = [...body.matchAll(regex)];\n\nconst taskIds = new Set();\n\nfor (const match of matches) {\n  const found = match[1].split(\",\").map(s => s.trim());\n  for (const id of found) {\n    const numMatch = id.match(/TAS-(\\d+)/);\n    if (numMatch) taskIds.add(numMatch[1]);\n  }\n}\n\nreturn [...taskIds].map(taskId => ({\n  json: {\n    taskId: taskId,\n    status: status\n  }\n}));\n"
      },
      "id": "91936f0f-2a0a-4610-929f-76861a893ff5",
      "name": "Get TAS ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 280]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1020, 160],
      "id": "84d3acff-5d71-413f-a322-1c1e5d059e89",
      "name": "No Operation, do nothing",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 280],
      "id": "ad581b76-bcfb-4ce9-86f5-51ffd08393de",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "b363c0bd-41d5-4196-9b15-fa282f7594d4",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/b363c0bd41d541969b15fa282f7594d4"
        },
        "limit": 10,
        "simple": false,
        "filterType": "json",
        "filterJson": "={   \"property\": \"TAS-\",   \"number\": {     \"equals\": {{$json.taskId}}   } }",
        "options": {}
      },
      "id": "b7c51d3f-eca6-41c0-980d-0d8cfa38a504",
      "name": "Get Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1000, 300],
      "credentials": {
        "notionApi": {
          "name": "SKKUDING Notion"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84476f8-0ac0-4d5e-a0b9-ed5d64eac4b0",
              "leftValue": "={{ $json.botCommentExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2480, 260],
      "id": "382d71be-d257-4d6e-995e-37818fd36509",
      "name": "If Comment Already Exists"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "상태|status",
              "statusValue": "={{ $('Get TAS ID').item.json.status }}"
            },
            {
              "key": "GitHub PR|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=#{{ $('When PR Update').item.json.body.pull_request.number }}",
                    "isLink": true,
                    "textLink": "={{ $('When PR Update').item.json.body.pull_request.html_url }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "=  {{ $('When PR Update').item.json.body.pull_request.title }}",
                    "isLink": true,
                    "textLink": "={{ $('When PR Update').item.json.body.pull_request.html_url }}",
                    "annotationUi": {
                      "bold": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "20e28e2c-cbdf-4b94-8c05-98c4eaf4aa2b",
      "name": "Update State",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [780, 520],
      "credentials": {
        "notionApi": {
          "name": "SKKUDING Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "완료일|date",
              "date": "={{ Date.now() }}",
              "timezone": "Asia/Seoul"
            }
          ]
        },
        "options": {}
      },
      "id": "298b14ca-0172-4813-abdf-ed0341f8ba45",
      "name": "Set Finish Date",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1240, 500],
      "credentials": {
        "notionApi": {
          "name": "SKKUDING Notion"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b002b42-180c-49fc-ba9d-acdf9d870ddd",
              "leftValue": "={{ $('Get TAS ID').item.json.status }}",
              "rightValue": "완료",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1020, 520],
      "id": "bb986d07-d702-4dda-a03c-b2ffb1f71879",
      "name": "If Finished"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Filter PR Comments').first().json.botCommentUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('GET Installation Token').first().json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"body\":\"{{ $('Loop Over Items').all().map(item => `[${item.json.name}](${item.json.url})`).join(', ') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 180],
      "id": "54a16b45-a8b3-48ce-b18f-19bd2fdb00de",
      "name": "Edit Comment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/skkuding/codedang/issues/{{ $('When PR Update').first().json.body.number }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('GET Installation Token').first().json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"body\":\"{{ $('Loop Over Items').all().map(item => `[${item.json.name}](${item.json.url})`).join(', ') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 340],
      "id": "a4666ae5-77b9-4a2c-896f-6aa056eec89a",
      "name": "Create Comment"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/skkuding/codedang/issues/{{ $('When PR Update').item.json.body.number }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 260],
      "id": "08908352-1ad7-477b-b920-168c9a3ad388",
      "name": "Check PR Comments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/app/installations/{{ $json.id }}/access_tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('JWT').item.json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 260],
      "id": "b8ca250d-3745-487e-930f-b7dcb5803d31",
      "name": "GET Installation Token"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/skkuding/codedang/installation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 260],
      "id": "17e4e691-c3b3-4d88-b739-e356da896c19",
      "name": "GET Installation ID"
    },
    {
      "parameters": {
        "useJson": true,
        "claimsJson": "={\n  \"iat\": {{ Math.floor(Date.now() / 1000) - 60 }},\n  \"exp\": {{ Math.floor(Date.now() / 1000) + (5 * 60) }},\n  \"iss\": \"Iv23libimfFvStBj5a1s\",\n  \"alg\": \"RS256\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [1420, 260],
      "id": "9f02b431-cc82-4d3b-a1d5-5c8b8f2ac8e9",
      "name": "JWT",
      "credentials": {
        "jwtAuth": {
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const comments = $input.all();\n\nconst botComment = comments.find(item =>\n  item.json.performed_via_github_app &&\n  item.json.performed_via_github_app.slug === 'notion-task-integration'\n);\n\nreturn [{\n  json: {\n    botCommentExists: !!botComment, \n    botCommentUrl: botComment ? botComment.json.url : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2260, 260],
      "id": "36fa02cf-5bac-40f9-bd64-3afd9111f6e2",
      "name": "Filter PR Comments"
    }
  ],
  "pinData": {},
  "connections": {
    "When PR Update": {
      "main": [
        [
          {
            "node": "Get TAS ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TAS ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Page": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "If Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Finish Date": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Finished": {
      "main": [
        [
          {
            "node": "Set Finish Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Comment Already Exists": {
      "main": [
        [
          {
            "node": "Edit Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PR Comments": {
      "main": [
        [
          {
            "node": "Filter PR Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Installation Token": {
      "main": [
        [
          {
            "node": "Check PR Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Installation ID": {
      "main": [
        [
          {
            "node": "GET Installation Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "GET Installation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PR Comments": {
      "main": [
        [
          {
            "node": "If Comment Already Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b6f7707-6b6a-4006-ab03-1c7efbd4f4ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d839974fdb33a3081bc948cbe11cbfd7ec959ad1fd2fc2144909820fb3dc324"
  },
  "id": "Kk6GC9syEGfI5u0e",
  "tags": []
}
